li{
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    background-color: cornsilk;
    padding: 3px 10px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.delete{
    margin-left: 10px;
    background-color: lightcoral;
}
.contact{
    display: flex;
    flex-direction: column;
    width: 175px;
}
.contactName{
    font-weight: 600;
}