.list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 10px;
}
.item{
    list-style: none;
    width: 270px;
    /* height: 50px; */
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    background-color: cornsilk;
    padding: 4px 10px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.delete{
    margin-left: 10px;
    height: 40px;
    background-color: lightcoral;
}
.contact{
    display: flex;
    flex-direction: column;
    width: 175px;
}
.contactName{
    font-weight: 600;
}